<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Te quiero Pau</title>
	<link rel="stylesheet" href="estilos.css">
	<script src="jquery.js"></script>
	<script src="juego.js"></script>
</head>
<body>
	<div id="wrapper">
		
		<div id="grid">
			<div class="jugador"></div>
		</div>
		<h1>Serpientes y Escaleras</h1>
		<h2>Reglas</h2>
		<ol>
			<li>Las serpientes te retroceden 4 espacios</li>
			<li>Las escales te avanzan 5 espacios</li>
		</ol>
	</div>

	<div class="actions">
		<p class="win">Ganaste!!!!</p>
		<button class="avanzar active">Juega!</button>
	</div>
</body>
</html>